exsheets-listings.sty
exsheets.sty

*.synctex.gz
*-concordance.tex
*.cfg
*.bbl
*.run.xml
*.fls
*.ind
*.ilg
*.idx
*.log
*.out
*.gz
*.xdv
*.pyg
*.aux
*.toc
*.fdb_latexmk

solutions/*.tex
chapters/ts_pset_main-tikzDictionary
R_plots/*.*
_minted-ts_pset_main/
