
*.aux

ts_ps_main.log

ts_ps_main.out

ts_ps_main.synctex.gz

ts_2_pset.log

ts_2_pset.out

ts_2_pset-concordance.tex

exsheets-listings.sty

exsheets_configurations.cfg

exsheets.sty

ts_2_pset.synctex.gz

ts_2_pset.tex

ts_ps_main.tex

ts_ps_main.tex

ts_pset.Rmd

ts_ps_main.tex

*.idx

*.log

*.out

*.gz

ts_pset_main.tex

*.toc

solutions/*.*

chapters/ts_pset_main-tikzDictionary

R_plots/*.*
ts_pset_main.xdv
_minted-ts_pset_main/
ts_pset_main.fdb_latexmk
*.pyg
